#header_container {
    height: auto;
    h1 {
        padding-block: 4.5rem; 
        margin-inline: auto;
        width: min(44rem, 100%);
    }
}

#collection_section {
    table {
        width: 100%;
    }
}