#collection_section {
    height: auto;
    h1 {
        text-align: center;
        padding-block: 4rem 2rem;
    }
}

#filter {
    select {
        padding: 0.5rem 1rem;
        border: none;
        margin-right: 0.5rem;

        font-size: 1rem;

        outline: none;
        margin-block: 0.5rem;

        cursor: pointer;

        option {
            background-color: transparent;
        }
    }
    
}

.collection {
    display: grid;
    grid-template-columns: repeat(auto-fill, 16rem);
    gap: 1.25rem;
    justify-content: space-evenly ;
    padding-block: 2rem;
    min-height: 20rem;

    border-block: 1px solid var(--border-grey);
    margin-bottom: 2rem;
    & > .bl {
        padding-block: 2rem;
        font-size: 1.5rem;
        text-align: center;
        grid-column: 1 / -1
    }
}

@media (max-width: 1000px) {
    .collection {
        grid-template-columns: repeat(auto-fill, 14rem);
    }
    .product_card img {
            height: 15rem !important;
    }
}

@media (max-width: 400px) {
    #filter {
        display: grid;
    }
}