#product_preview_section {
    display: flex;
    align-items: center;
    gap: 4rem;

    padding-inline: 0;

    img {
        height: 100%;
        width: 50%;

        object-fit: cover;
        object-position: center;
    }
     

    .info {
        padding: 2.5rem;

        .description {
            padding-block: 2.5rem;
            .about {
                margin-block: 1.25rem;
            }
            ul {
                padding-left: 1.25rem;
            }
        }

        .dimensions {
            padding-block: 1.25rem;
            & > .bl {
                margin-bottom: 1.75rem;
            }
            .grid_container {
                display: grid;
                grid-template-columns: repeat(3, min-content);
                gap: 0.75rem 3.5rem;
            }
        }
        form {
            padding-top: 1.7rem;
            display: flex;
            gap: clamp(1rem, 5vw, 10rem);
            align-items: center;
            .amount_container {
                display: flex;
                align-items: center;
                gap: 1.4rem;
            }
        }
    }
}

@media (max-width: 1200px) {
    #product_preview_section {
        gap: 1rem;
        .info {
            padding-inline: 1rem;
        }
    }
}

@media (max-width: 900px) {
    #product_preview_section {
        flex-direction: column;
        height: auto;
        img {
            width: min(35rem, 100%);
            flex: 1 1 min(30rem, 100vh);
        }
        .grid_container {
            justify-content: space-between;
        }
        form {
            width: 100%;
            justify-content: space-between;
        }
    }
}