#welcome_section {
    height: max(40rem, calc(100vh - 9.375rem));
}

.hero_top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 1.125rem;

    list-style: none;
    gap: 2.75rem;
}
#hero {
    display: flex;
    background-color: var(--dark-primary);
    color: var(--white);
    img {
        object-fit: cover;
        height: max(40rem, 80vh);
    }
    .left {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2.5rem;

        padding: 3.75rem;
        p {
            margin-top: auto;
        }
    }
}

.product_section {
    padding-block: 5rem;
    .scrollable_list {
        padding-block: 33px;
    }
    button {
        display: block;
        margin: 0 auto;
    }
}

#sign_up_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 72px;
    p {
        max-width: 480px;
        margin: 0 auto;
    }

    padding-block: 120px;
}

#get_in_touch_section {
    display: flex;
    padding: 0;
    img {
        width: 50vw;
        object-fit: cover;
        object-position: center;
    }
    .left {
        min-height: 20rem;
        padding: 80px;
        display: flex;
        flex-direction: column;
        align-items: start;
        button {
            margin-top: auto;
        }
    }
}

@media (max-width: 1250px) {
    #hero img {
        height: 30rem;
    }
    #welcome_section {
        height: auto;
    }
    nav {
        div > * {
            margin-inline: 0;
        }
        .hero_top {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: max-content;
            overflow-x: auto;
            justify-content: start;

            padding-inline: 2rem;
        }
    }

    #get_in_touch_section {
        flex-direction: column;
        img {
            width: 100%;
        }
    }
}

@media (max-width: 900px) {
    #get_in_touch_section {
        .left {
            padding: 1rem;
        }
    }
}

@media (max-width: 700px) {
    .custom_text_input {
        width: 100%;
        input {
            flex: 1 1 auto;
        }
        button {
            flex: 0 0 max-content; 
        }
    }
}