:root {
    --dark-primary: #2A254B;
    --primary: #4E4D93;
    --light-grey: #F9F9F9;
    --border-grey: #EBE8F4;
    --white: #FFFFFF;
    --border-dark: #CAC6DA;
    --transparent-white: hsla(0, 0%, 100%, 0.15);

}

html,
textarea,
button,
input {
    font-family: 'Satoshi', sans-serif;
    // font-weight: 300;
    color: var(--dark-primary);
}

* {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.bl,
.bm,
.bs {
    line-height: 150%;
    // font-weight: 300;
}

.bl {
    font-size: 18pt;
}

.bm {
    font-size: 16pt;
}

.bs {
    font-size: 14pt;
}

h1 {
    font-size: 36pt;
}

h2 {
    font-size: 32pt;
}

button {
    cursor: pointer;
}

.product_card.portrait {
    img {
        margin-bottom: 1.5rem;
    }
}

.text_input {
    * {
        padding: 1rem 2rem;
        border: none;
    }

    button {
        background-color: var(--dark-primary);
        color: var(--white);
    }

    input {
        outline: none;
    }
}

.btn {
    @extend .bm;
    border: none;
    padding: 1rem 2rem;
    background-color: transparent;

    &:hover {
        background-color: var(--border-grey);
        color: var(--dark-primary)
    }
}

.btn_trans {
    background-color: var(--transparent-white);
    color: var(--white)
}

.flex_list {
    display: flex;
    justify-content: space-between;
}

.featured_card {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 3rem;
    width: 305px;

    img {
        width: 1.5rem;
    }
}

nav {
    position: fixed;
    inset: 0 0 auto 0;
    background-color: var(--white);
    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-inline: 28px;
        padding-block: 20px;

        border-bottom: 1px solid var(--border-dark);
    }

    h1 {
        user-select: none;
    }

    div>* {
        margin-inline: 0.5rem;
    }
}

footer {
    background-color: var(--dark-primary);
    color: var(--white);
    padding-inline: 80px;
    padding-top: 60px;

    .top {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 3rem;
        border-bottom: 1px solid var(--border-dark);

        ul {
            list-style: none;

            li {
                font-size: 16px;
                margin-block: 0.75rem;
            }

            a {
                font-size: 14px;
            }
        }

        .text_input {
            margin-block: 2rem;

            input {
                width: 20rem;
            }
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px;

        .social_links {
            display: flex;
            gap: 1.5rem;
        }
    }
}

section {
    padding-inline: 80px;
}

a {
    color: currentColor;
    text-decoration: none;
}