:root {
  --dark-primary: #2A254B;
  --primary: #4E4D93;
  --light-grey: #F9F9F9;
  --border-grey: #EBE8F4;
  --white: #FFFFFF;
  --border-dark: #CAC6DA;
  --transparent-white: hsla(0, 0%, 100%, 0.15);
}

html, textarea, button, input {
  font-family: "Satoshi", sans-serif;
  color: var(--dark-primary);
}

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.bl,
.bm,
.btn,
.bs {
  line-height: 150%;
}

.bl {
  font-size: 18pt;
}

.bm, .btn {
  font-size: 16pt;
}

.bs {
  font-size: 14pt;
}

h1 {
  font-size: 36pt;
}

h2 {
  font-size: 32pt;
}

button {
  cursor: pointer;
}

.product_card.portrait img {
  margin-bottom: 1.5rem;
}

.text_input * {
  padding: 1rem 2rem;
  border: none;
}
.text_input button {
  background-color: var(--dark-primary);
  color: var(--white);
}
.text_input input {
  outline: none;
}

.btn {
  border: none;
  padding: 1rem 2rem;
  background-color: transparent;
}
.btn:hover {
  background-color: var(--border-grey);
  color: var(--dark-primary);
}

.btn_trans {
  background-color: var(--transparent-white);
  color: var(--white);
}

.flex_list {
  display: flex;
  justify-content: space-between;
}

.featured_card {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 3rem;
  width: 305px;
}
.featured_card img {
  width: 1.5rem;
}

nav {
  position: fixed;
  inset: 0 0 auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 28px;
  padding-block: 20px;
  background-color: var(--white);
  border-bottom: 1px solid var(--border-dark);
}
nav h1 {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
nav div > * {
  margin-inline: 0.5rem;
}

footer {
  background-color: var(--dark-primary);
  color: var(--white);
  padding-inline: 80px;
  padding-top: 60px;
}
footer .top {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--border-dark);
}
footer .top ul {
  list-style: none;
}
footer .top ul li {
  font-size: 16px;
  margin-block: 0.75rem;
}
footer .top ul a {
  font-size: 14px;
}
footer .top .text_input {
  margin-block: 2rem;
}
footer .top .text_input input {
  width: 20rem;
}
footer .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}
footer .bottom .social_links {
  display: flex;
  gap: 1.5rem;
}

section {
  padding-inline: 80px;
}

a {
  color: currentColor;
  text-decoration: none;
}

#welcome_section {
  padding-top: 70px;
  padding-inline: 80px;
  height: max(50rem, 100vh);
}

.hero_top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 20px;
  list-style: none;
  gap: 44px;
}

#hero {
  display: flex;
  background-color: var(--dark-primary);
  color: var(--white);
}
#hero img {
  -o-object-fit: cover;
     object-fit: cover;
  height: max(40rem, 80vh);
}
#hero .left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 41px;
  padding: 60px;
}
#hero .left p {
  margin-top: auto;
}

#difference_section {
  padding-block: 60px;
}
#difference_section h3 {
  text-align: center;
}

#product_section {
  padding-block: 80px;
}
#product_section .flex_list {
  padding-block: 33px;
}
#product_section button {
  display: block;
  margin: 0 auto;
}

#sign_up_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 72px;
  padding-block: 120px;
}
#sign_up_section p {
  max-width: 480px;
  margin: 0 auto;
}

#get_in_touch_section {
  display: flex;
  padding: 0;
}
#get_in_touch_section .left, #get_in_touch_section img {
  flex: 1 1 50%;
}
#get_in_touch_section .left {
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
#get_in_touch_section .left button {
  margin-top: auto;
}/*# sourceMappingURL=index.css.map */